.no-underline {
    text-decoration: none;
    cursor: pointer;
}
.link-to-lyrics {
    color: black;
    font-size: 70px;
    background-color: lightgray;
    border-bottom: black;
    
}
.link-holder {
    line-height: 2;
}
.return-button {
    font-size: 125px;
    color: white;
    border: black;
}
h1 {
    font-size: 90px;
}
header {
    text-align: center;
    background-color: lightcoral;
}

body {
    font-family: 'Roboto', sans-serif;
    display:flex;
    justify-content: center;
    margin: 0;
}
p {
    line-height: 1.8;
    font-size: 45px;
    word-wrap: break-word;
    overflow-x: auto;
    white-space: pre-wrap;
    text-align: left;
    padding: 10px;

}
.lyrics {
    padding: 0;
}
.main-page {
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
}
#title-of-song {
    width: 100;
    text-align: center;
}